<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <div id="top-row">
                <h5 class="card-title" id="name">This is a name</h5>
                <h5 class="card-subtitle mb-2 text-muted" id="role">Card subtitle</h6>
            </div>
            <ul class="list-group" id="info">
                <li class="list-group-item info">Cras justo odio</li>
                <li class="list-group-item info">Dapibus ac facilisis in</li>
                <li class="list-group-item info">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
</body>

</html>