<div class="card" style="width: 18rem;">
    <div class="card-body">
        <div id="top-row">
            <h5 class="card-title" id="name">This is a name</h5>
            <h5 class="card-subtitle mb-2 text-muted" id="role">Card subtitle</h6>
        </div>
        <ul class="list-group" id="info">
            <li class="list-group-item info">ID: $id$</li>
            <li class="list-group-item info">Email: $email$</li>
            <li class="list-group-item info">$extra$</li>
        </ul>
    </div>
</div>
